/* Shadows everywhere! Because everything is better with shadows. */
/* Real world has shadows, so why not the virtual world. */

body
{
	background-color: #0099cc;

	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer
{
	margin-top: 20px;
}

footer > a
{
	color: #0000cc;
}

#gameBox
{
	width: 800px;
	height: 640px;
	border: 4px solid black;

	margin: auto;

	background-color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

	position: relative;
}

.dropBox
{
	width: 30px;
	height: 30px;
	border: 2px solid black;

	background-color: aqua;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

	position: absolute;
	display: inline-block;

	cursor: pointer;
}

#leaderboard
{
	font-size: 24pt;
	font-weight: bold;

	border: 2px solid black;
	padding-left: 10px;
	padding-right: 10px;

	background-color: lightgrey;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

	margin: auto;
}

#leaderboard tr > :first-child
{
	text-align: right;
}

#restart
{
	font-size: 24pt;
	font-weight: bold;

	padding-left: 10px;
	padding-right: 10px;

	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}